set clipboard^=unnamed
let mapleader=","

set easymotion
let g:EasyMotion_keys='ghfjdkslaytruvbn'
let g:EasyMotion_smartcase = 1

set showmode
set scrolloff=5
set incsearch
set number
set relativenumber
set ic  " Игнорирование регистра при поиске
set inccommand=nosplit

nmap <space> <Plug>(easymotion-s2)
nmap <C-s> :w<CR>
nmap <C-f> :action FindInPath<CR>
nmap <A-j> <C-d>
nmap <A-k> <C-u>

imap <C-s> <ESC>:w<CR>
imap <F1> <ESC>:tabprev<CR>
imap <F2> <ESC>:tabnext<CR>

noremap <F1> :tabprev<CR>
noremap <F2> :tabnext<CR>

noremap <C-k> :m .-2<CR>
noremap <C-j> :m .+1<CR>

nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>

noremap x "_x
vnoremap p "_dP

